# dev
**/.idea
**/__pycache__
**/.vscode

# Cython
*.pyc

# PyTest
**/.pytest_cache

# setuptools
**/*.egg-info
dist

# generated
logs
ballots
**/elections/**
**/_test_cases*

# andreas' files
./local/**
new_election.csv

# nathan's files
Pipfile
Pipfile.lock
