# dev
**/.idea
**/__pycache__
**/.vscode

# Cython
*.pyc

# PyTest
**/.pytest_cache

# setuptools
**/*.egg-info

# generated
logs
ballots
**/elections/**

# andreas' files
./local/**

# nathan's files
Pipfile
Pipfile.lock
